* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --side-width: 320px;
    --sidebar-color: #6F50FF;
    --background-color: #D9DFEB;
    --button-color: #6F50FF;
    --header-text: #625A5A;
    --text-color: rgb(221, 220, 220);
    --sidebar-hover: #3131ec;

    --tran-1: all 0.3s ease;
    --tran-2: all 0.4s ease;
}

body {
    height: 100vh;
    color: var(--text-color);
    background-color: var(--background-color);
    transition: var(--tran);
}

body.dark {
    --background-color: #18191A;
    --sidebar-color: #242526;
    --button-color: #242526;
    --text-color: #CCC;
    --header-text: rgb(228, 218, 218);
    --sidebar-hover: #3A3C3B;
}

.header {
    margin-top: 25px;
    margin-bottom: 50px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__logo {
    display: flex;
    justify-content: left;
    align-items: center;
    float: right;
}


.new-color:hover {
    background-color: var(--sidebar-hover);
    cursor: pointer;
    border-radius: 18px;
}


.menu__title {
    color: var(--header-text);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15px;

}

.menu__right {
    display: flex;
    align-items: center;
}

.button {
    background-color: var(--button-color);
    color: white;
    font-size: 14px;
    width: 70px;
    border: 2px solid #6F50FF;
    border-radius: 15px;
}

.button:hover {
    background-color: #5d49b8;
    cursor: pointer;
}

.menu__button {
    margin-left: 15px;
    padding: 7px;
    position: relative;
}


.data {
    color: var(--header-text);
    font-size: 18px;
    margin-top: 5px;
}


.sidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    transition: var(--tran-1);
    position: relative;
    height: 100%;
}

.cont {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    width: var(--side-width);

}

.cont_hide {
    width: 100px;
}

.cont_hide .sidebar__link-text {
    display: none;
}

.cont_hide .toggle-swicth {
    display: none;
}


.inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--sidebar-color);
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
    min-height: 320px;
    padding: 30px 20px;
}

.sidebar__header {
    position: relative;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}


.sidebar__item {
    list-style-type: none;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 18px;
}

.sidebar__item:hover {
    background-color: var(--sidebar-hover);
}

.sidebar__link {
    text-decoration: none;
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar__link-text {
    color: var(--text-color);
    font-size: 25px;
    margin-left: 18px;
    transition: all 0.9s linear;
}

.sidebar__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 0 0;
}

.logout__link {
    text-decoration: none;
    margin-left: 15px;
    font-size: 20px;
    bottom: 0;
    color: white;
    flex-shrink: 0;
}

.cont_hide .logout__link {
    display: none;
}

.sidebar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-tema {
    display: flex;
    align-items: center;
}

.toggle-swicth {
    display: flex;
    align-items: center;
    height: 25px;
    min-width: 50px;
    background-color: #DDDDDD;
    border-radius: 22px;
    cursor: pointer;
}

.toggle-swicth .switch {
    position: relative;
    height: 22px;
    width: 22px;
    border-radius: 12px;
    -webkit-transition: .4s;
    transition: .4s;
}


.switch::before {
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    border-radius: 50%;
    top: 50%;
    left: 7px;
    transform: translateY(-50%);
    background-color: #FFF;
    cursor: pointer;
    transition: var(--tran-2);
}

body.dark .switch::before {
    left: 25px;
}

/* .main {
    position: relative;
    left: 400px;
    max-width: 1200px;
} */

.new-task-form {
    display: flex;
}

input,
.actions button {
    border: none;
    background: none;
    outline: none;
    appearance: none;
    margin-right: 15px;
    color: var(--text-color);
    height: 45px;
}

.new-task-input {
    color: var(--text-color);
    font-size: 16px;
    background-color: var(--sidebar-hover);
    padding: 10px;
    border-radius: 10px;
    width: 1100px;
    cursor: pointer;
}

.new-task-input::placeholder {
    color: var(--text-color);
}

.text {
    background-color: var(--sidebar-hover);
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
    color: var(--text-color);
}


.task-list {
    margin-top: 15px;
}

h2 {
    color: var(--header-text);
    margin-bottom: 15px;
}

/* .tasks {
    display: flex;
    justify-content: space-between;
    background-color: var(--sidebar-hover);
    padding: 5px;
    height: 50px;
    color: var(--text-color);
    border-radius: 12px;
} */

.actions-todo {
    width: 1100px;
}

.actions-todo li {
    display: flex;
    justify-content: space-between;
    background-color: var(--sidebar-hover);
    padding: 5px;
    margin-bottom: 15px;
    height: 50px;
    color: var(--text-color);
    border-radius: 12px;
}

.task-content {
    color: var(--text-color);
    font-size: 16px;
}

.actions {
    margin-left: 300px;
    cursor: pointer;
}


.buton-add {
    color: var(--sidebar-color);
}

input[type=checkbox] {
    opacity: 0;
    position: absolute;
}

input[type=checkbox] {
    display: inline-block;
    align-items: center;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

label {
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 18px;
}

input[type=checkbox]+label:before {
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 18px;
    content: '';
    /* background-color: #389994; */
    border-radius: 5px;
    border: 2px solid #ddd;
    width: 10px;
    height: 10px;
    padding: 2px;
    margin-right: 10px;
}

input[type=checkbox]:checked+label:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 5px;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    border-radius: 0;
    margin: 0 15px 5px 5px;
}

.menu-language {
    display: flex;
    justify-content: flex-end;
    /* justify-content: space-between; */
    font-size: 16px;
    color: var(--header-text);
    background-color: var(--background-color);
    border: 1px solid var(--header-text);
    padding: 8px;
    width: 60px;
}

.menu__sign {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-photo {
    width: 50px;
    height: 50px;
    margin-left: 770px;
    display: none;
}


.login-href {
    font-size: 18px;
    color: var(--header-text);
    text-decoration: none;
    margin-right: 30px;
}


@media screen and (max-width: 1366px) {
    .container {
        max-width: 1100px;
        margin-left: 200px;
    }

    .actions-todo {
        width: 1100px;
    }

    .actions-todo li {
        display: flex;
        justify-content: space-between;
        background-color: var(--sidebar-hover);
        padding: 5px;
        margin-bottom: 15px;
        height: 50px;
        color: var(--text-color);
        border-radius: 12px;
        width: 1000px;
        margin-right: 20px;
    }

    .new-task-input {
        color: var(--text-color);
        font-size: 16px;
        background-color: var(--sidebar-hover);
        padding: 10px;
        border-radius: 10px;
        width: 920px;
        cursor: pointer;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1000px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        max-width: 900px;
        margin-left: 200px;
    }

    .actions-todo li {
        display: flex;
        justify-content: space-between;
        background-color: var(--sidebar-hover);
        padding: 5px;
        margin-bottom: 15px;
        height: 50px;
        color: var(--text-color);
        border-radius: 12px;
        width: 850px;
        margin-right: 20px;
    }

    .actions-todo {
        width: 900px;
    }

    .new-task-input {
        color: var(--text-color);
        font-size: 16px;
        background-color: var(--sidebar-hover);
        padding: 10px;
        border-radius: 10px;
        width: 700px;
        cursor: pointer;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 850px;
    }
}


@media screen and (max-width: 768px) {
    .container {
        max-width: 700px;
        margin-left: 150px;
    }

    .new-task-input {
        color: var(--text-color);
        font-size: 16px;
        background-color: var(--sidebar-hover);
        padding: 10px;
        border-radius: 10px;
        width: 700px;
        cursor: pointer;
    }

    .actions-todo {
        width: 700px;
    }

    .actions-todo li {
        display: flex;
        justify-content: space-between;
        background-color: var(--sidebar-hover);
        padding: 5px;
        margin-bottom: 15px;
        height: 50px;
        color: var(--text-color);
        border-radius: 12px;
        width: 650px;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 650px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        max-width: 380px;
        margin-left: 120px;
    }

    .actions-todo {
        width: 350px;
    }

    .actions-todo li {
        display: flex;
        justify-content: space-between;
        background-color: var(--sidebar-hover);
        padding: 5px;
        margin-bottom: 15px;
        height: 50px;
        color: var(--text-color);
        border-radius: 12px;
        width: 300px;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 300px;
    }
}